@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background: #FFEB9F; padding: 1em; border-radius: 20px;">
    <h1 class="display-4" style="color: #DC7100">Welcome David Castillo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
